n8n-final-flow.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Flow 4 - Overdue Escalation Friday 5PM\n",
        "height": 660,
        "width": 2384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4336,
        4064
      ],
      "id": "53a77ece-dbe6-4bc0-9d73-1de77a55ef90",
      "name": "Note - Daily Health"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8080/api/webhooks/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "local-n8n-sync-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"taskId\":\"{{$json.taskId}}\",\"actionType\":\"ESCALATED\",\"actionMessage\":\"Weekly overdue escalation sent for task {{$json.taskId}}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5568,
        4384
      ],
      "id": "ac5daf71-9783-42d3-9658-81cac1d4ad47",
      "name": "Sync Escalation To Backend"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        5344,
        4480
      ],
      "id": "0f8df992-9706-4808-8ce5-105a04da827a",
      "name": "Split Overdue Tasks"
    },
    {
      "parameters": {
        "chatId": "7065866911",
        "text": "={{ $json.report }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        5344,
        4096
      ],
      "id": "344d7db3-1dd7-424f-b9cd-cfe8b9db3301",
      "name": "Send Overdue Report Telegram",
      "webhookId": "68a80d74-52b2-499b-ade0-2f7877c1f298",
      "credentials": {
        "telegramApi": {
          "id": "UAsMsCKR480oPfOn",
          "name": "Overdue"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(item => item.json);\n\nconst lines = ['🚨 BAO CAO TASK QUA HAN'];\n\nif (!items.length) {\n  lines.push('');\n  lines.push('✅ Khong co task qua han.');\n} else {\n  items.forEach((task, index) => {\n    lines.push('');\n    lines.push(`*TASK ${index + 1}*`);\n    lines.push(`🆔 *Ma task:* ${task.taskId || '-'}`);\n    lines.push(`📝 *Ten task:* ${task.taskName || '-'}`);\n    lines.push(`👤 Nguoi duoc giao: ${task.assigneeEmail || '-'}`);\n    lines.push(`🔥 Uu tien: ${task.priority || '-'}`);\n    lines.push(`📅 Deadline: ${task.deadlineDisplay || task.deadline || '-'}`);\n  });\n}\n\nreturn [{\n  json: {\n    report: lines.join('\\n'),\n    count: items.length,\n    tasks: items\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5120,
        4288
      ],
      "id": "4768bf5d-9516-4b34-942c-2e0538c737ff",
      "name": "Render Overdue Report"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8080/api/webhooks/overdue-escalations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "local-n8n-sync-secret"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4672,
        4288
      ],
      "id": "1391ae7d-d9b9-43b3-bf62-323657d26ae8",
      "name": "Fetch Overdue Tasks"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        4448,
        4288
      ],
      "id": "d316ce7f-c2f4-4b01-8064-7f339c49cb8e",
      "name": "Schedule Friday 5PM"
    },
    {
      "parameters": {
        "content": "## Flow 5 - Health Check 11:59PM",
        "height": 556,
        "width": 2376,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4336,
        4752
      ],
      "id": "25800b78-11e1-4cdb-961f-2bbc31d4a4fd",
      "name": "Note - Escalation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8080/api/webhooks/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "local-n8n-sync-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"taskId\":\"{{$json.taskId}}\",\"actionType\":\"REMINDER_SENT\",\"actionMessage\":\"Reminder sent by n8n for task {{$json.taskId}}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5568,
        3680
      ],
      "id": "5816e337-c2fd-4fa6-a47e-874733d5b2c6",
      "name": "Sync Reminder To Backend"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assigneeEmail }}",
        "subject": "=Nhắc nhở: {{ $json.taskName }} sắp tới hạn",
        "message": "=<div style=\"margin:0;padding:32px;background:linear-gradient(180deg,#fff7ed 0%,#fffbeb 100%);font-family:Arial,sans-serif;color:#1f2937;\"><div style=\"max-width:680px;margin:0 auto;background:#ffffff;border-radius:24px;overflow:hidden;border:1px solid #fed7aa;box-shadow:0 20px 45px rgba(194,65,12,0.12);\"><div style=\"padding:28px 32px;background:linear-gradient(135deg,#c2410c,#fb923c);color:#ffffff;\"><div style=\"display:flex;align-items:center;justify-content:space-between;gap:16px;\"><div style=\"display:flex;align-items:center;gap:14px;\"><div style=\"width:52px;height:52px;border-radius:16px;background:rgba(255,255,255,0.16);text-align:center;line-height:52px;font-size:22px;font-weight:700;\">DA</div><div><div style=\"font-size:12px;letter-spacing:1.4px;text-transform:uppercase;opacity:0.9;\">Deadline Automation</div><div style=\"font-size:15px;opacity:0.95;\">Nhắc nhở công việc sắp đến hạn</div></div></div><div style=\"padding:10px 14px;border-radius:999px;background:rgba(255,255,255,0.18);font-size:13px;font-weight:700;\">{{ $json.daysLeft === 0 ? 'Đến hạn hôm nay' : ($json.daysLeft === 1 ? 'Còn 1 ngày' : 'Còn ' + $json.daysLeft + ' ngày') }}</div></div><h1 style=\"margin:20px 0 0;font-size:30px;line-height:1.25;\">{{ $json.taskName }}</h1><p style=\"margin:10px 0 0;font-size:15px;line-height:1.7;opacity:0.94;\">Task của bạn đang tiến gần deadline. Hãy ưu tiên xử lý để tránh bị trễ hạn.</p></div><div style=\"padding:30px 32px;\"><div style=\"display:grid;grid-template-columns:repeat(3,minmax(0,1fr));gap:12px;margin-bottom:22px;\"><div style=\"padding:16px;border-radius:18px;background:#fff7ed;border:1px solid #fed7aa;\"><div style=\"font-size:12px;color:#9a3412;text-transform:uppercase;letter-spacing:0.8px;\">Mã task</div><div style=\"margin-top:8px;font-size:18px;font-weight:700;color:#7c2d12;\">{{ $json.taskId || 'Đang cập nhật' }}</div></div><div style=\"padding:16px;border-radius:18px;background:#f8fafc;border:1px solid #e2e8f0;\"><div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:0.8px;\">Ưu tiên</div><div style=\"margin-top:8px;font-size:18px;font-weight:700;color:#0f172a;\">{{ $json.priority || 'MEDIUM' }}</div></div><div style=\"padding:16px;border-radius:18px;background:#eff6ff;border:1px solid #bfdbfe;\"><div style=\"font-size:12px;color:#1d4ed8;text-transform:uppercase;letter-spacing:0.8px;\">Deadline</div><div style=\"margin-top:8px;font-size:18px;font-weight:700;color:#1e3a8a;\">{{ $json.deadlineDisplay || 'Chưa có deadline' }}</div></div></div><div style=\"padding:20px;border-radius:20px;background:#fffaf0;border:1px dashed #fdba74;margin-bottom:22px;\"><div style=\"font-size:13px;color:#9a3412;font-weight:700;margin-bottom:8px;\">Gợi ý xử lý</div><div style=\"font-size:15px;line-height:1.8;color:#7c2d12;\">1. Kiểm tra phần việc còn lại của task.<br/>2. Ưu tiên hoàn tất các mục quan trọng trước deadline.<br/>3. Báo lại cho quản lý nếu có rủi ro trễ hạn.</div></div><div style=\"padding:18px 20px;border-radius:18px;background:#f8fafc;border:1px solid #e5e7eb;\"><div style=\"font-size:13px;color:#64748b;font-weight:700;margin-bottom:8px;\">Mô tả công việc</div><div style=\"font-size:15px;line-height:1.8;color:#334155;white-space:pre-line;\">{{ $json.taskDescription || 'Không có mô tả chi tiết.' }}</div></div><div style=\"margin-top:24px;font-size:12px;color:#94a3b8;text-align:center;\">Deadline Automation • Theo dõi tiến độ, nhắc việc và đồng bộ báo cáo tự động</div></div></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5568,
        3296
      ],
      "id": "2470db0d-61be-4c65-a2b6-8bc0ce1c4f61",
      "name": "Send Reminder Gmail",
      "webhookId": "1ee17254-5cf4-4407-83a3-f6b9933c88f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cjhnaex87bH9nxbe",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.daysLeft }}",
              "operation": "smallerEqual",
              "value2": 3
            },
            {
              "value1": "={{ $json.daysLeft }}",
              "operation": "largerEqual"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5344,
        3584
      ],
      "id": "d7ce5c77-de17-4b06-ab01-cb8887621f97",
      "name": "If Due Soon"
    },
    {
      "parameters": {
        "jsCode": "const parseDate = (value) => {\n  if (!value) return null;\n\n  if (Array.isArray(value)) {\n    const [year, month = 1, day = 1, hour = 0, minute = 0, second = 0, nano = 0] = value;\n    const millis = Math.floor(Number(nano) / 1000000);\n    const date = new Date(year, month - 1, day, hour, minute, second, millis);\n    return Number.isNaN(date.getTime()) ? null : date;\n  }\n\n  const date = new Date(value);\n  return Number.isNaN(date.getTime()) ? null : date;\n};\n\nconst formatDate = (value) => {\n  const date = parseDate(value);\n  if (!date) return null;\n\n  const pad = (input) => String(input).padStart(2, '0');\n  return `${pad(date.getDate())}/${pad(date.getMonth() + 1)}/${date.getFullYear()} ${pad(date.getHours())}:${pad(date.getMinutes())}`;\n};\n\nconst now = new Date();\n\nreturn $input.all().map((entry) => {\n  const item = entry.json ?? {};\n  const deadline = parseDate(item.deadline);\n  const daysLeft = deadline ? Math.ceil((deadline.getTime() - now.getTime()) / 86400000) : null;\n\n  return {\n    json: {\n      ...item,\n      deadline: deadline?.toISOString() ?? item.deadline ?? null,\n      deadlineDisplay: item.deadlineDisplay ?? formatDate(item.deadline) ?? 'Chua co deadline',\n      daysLeft\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5120,
        3584
      ],
      "id": "0752b17c-5ef5-4dd5-bbaf-da3a84809035",
      "name": "Compute Days Left"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8080/api/webhooks/pending-reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "local-n8n-sync-secret"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4672,
        3584
      ],
      "id": "030847ed-b377-4400-a10f-114adb38bac3",
      "name": "Fetch Pending Reminders"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        4448,
        3584
      ],
      "id": "78438232-a94c-4d5b-b384-720877348128",
      "name": "Schedule 8AM"
    },
    {
      "parameters": {
        "content": "## Flow 3 - Reminder 8AM",
        "height": 764,
        "width": 2384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4336,
        3280
      ],
      "id": "d5f66e34-8c19-493e-bc9e-3ffee85b9da2",
      "name": "Note - Reminders"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assigneeEmail }}",
        "subject": "=Task {{ $json.taskName }} đã được hoàn thành",
        "message": "=<div style=\"margin:0;padding:24px;background:#f4f6fb;font-family:Arial,sans-serif;color:#1f2937;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border-radius:18px;overflow:hidden;border:1px solid #e5e7eb;box-shadow:0 12px 32px rgba(15,23,42,0.08);\"><div style=\"padding:24px 28px;background:linear-gradient(135deg,#0f766e,#2dd4bf);color:#ffffff;\"><div style=\"display:flex;align-items:center;gap:14px;\"><div style=\"width:48px;height:48px;border-radius:14px;background:rgba(255,255,255,0.18);text-align:center;line-height:48px;font-size:20px;font-weight:700;\">DA</div><div><div style=\"font-size:12px;letter-spacing:1.2px;text-transform:uppercase;opacity:0.9;\">Deadline Automation</div><div style=\"font-size:15px;opacity:0.95;\">Hệ thống điều phối công việc</div></div></div><h1 style=\"margin:18px 0 0;font-size:28px;line-height:1.3;\">Task đã được cập nhật hoàn thành</h1></div><div style=\"padding:28px;\"><p style=\"margin:0 0 16px;font-size:16px;\">Xin chào,</p><p style=\"margin:0 0 20px;font-size:16px;line-height:1.7;\">Task của bạn đã được đánh dấu hoàn thành trong hệ thống. Vui lòng xem lại kết quả nếu cần bổ sung hoặc điều chỉnh thêm.</p><div style=\"padding:20px;border-radius:16px;background:#f0fdfa;border:1px solid #99f6e4;margin-bottom:20px;\"><div style=\"font-size:24px;font-weight:700;color:#0f766e;margin-bottom:6px;\">{{ $json.taskName }}</div><div style=\"font-size:14px;color:#115e59;\">Mã task: {{ $json.taskId || 'Đang cập nhật' }}</div></div><table role=\"presentation\" style=\"width:100%;border-collapse:separate;border-spacing:0 12px;\"><tr><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Ngày hoàn thành</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.completedAtDisplay || 'Vừa cập nhật' }}</div></td><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Deadline</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.deadlineDisplay || 'Chưa có deadline' }}</div></td></tr></table><div style=\"margin-top:22px;font-size:12px;color:#94a3b8;text-align:center;\">Deadline Automation • Theo dõi tiến độ, nhắc việc, và báo cáo tự động</div></div></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5792,
        3040
      ],
      "id": "0b149dc9-31e3-4ea2-8087-f52215b88edf",
      "name": "Send Completion Gmail",
      "webhookId": "574e196e-94ed-4458-89ba-c9959c21daa3",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cjhnaex87bH9nxbe",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assigneeEmail }}",
        "subject": "=Chúc mừng! Bạn đã hoàn thành sớm {{ $json.taskName }}",
        "message": "=<div style=\"margin:0;padding:24px;background:#f4f6fb;font-family:Arial,sans-serif;color:#1f2937;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border-radius:18px;overflow:hidden;border:1px solid #e5e7eb;box-shadow:0 12px 32px rgba(15,23,42,0.08);\"><div style=\"padding:24px 28px;background:linear-gradient(135deg,#059669,#34d399);color:#ffffff;\"><div style=\"display:flex;align-items:center;gap:14px;\"><div style=\"width:48px;height:48px;border-radius:14px;background:rgba(255,255,255,0.18);text-align:center;line-height:48px;font-size:20px;font-weight:700;\">DA</div><div><div style=\"font-size:12px;letter-spacing:1.2px;text-transform:uppercase;opacity:0.9;\">Deadline Automation</div><div style=\"font-size:15px;opacity:0.95;\">Hệ thống điều phối công việc</div></div></div><h1 style=\"margin:18px 0 0;font-size:28px;line-height:1.3;\">Hoàn thành sớm, rất tốt</h1></div><div style=\"padding:28px;\"><p style=\"margin:0 0 16px;font-size:16px;\">Xin chúc mừng,</p><p style=\"margin:0 0 20px;font-size:16px;line-height:1.7;\">Bạn đã hoàn thành task trước deadline. Đây là một kết quả rất tích cực cho tiến độ công việc.</p><div style=\"padding:20px;border-radius:16px;background:#ecfdf5;border:1px solid #bbf7d0;margin-bottom:20px;\"><div style=\"font-size:24px;font-weight:700;color:#047857;margin-bottom:6px;\">{{ $json.taskName }}</div><div style=\"font-size:14px;color:#065f46;\">Hoàn thành lúc: {{ $json.completedAtDisplay || 'Vừa cập nhật' }}</div></div><table role=\"presentation\" style=\"width:100%;border-collapse:separate;border-spacing:0 12px;\"><tr><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Mã task</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.taskId || 'Đang cập nhật' }}</div></td><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Deadline</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.deadlineDisplay || 'Chưa có deadline' }}</div></td></tr></table><div style=\"margin-top:22px;font-size:12px;color:#94a3b8;text-align:center;\">Deadline Automation • Theo dõi tiến độ, nhắc việc, và báo cáo tự động</div></div></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5792,
        2848
      ],
      "id": "802fa2d1-6daa-4afc-8961-e71cd80c8c59",
      "name": "Send Early Completion Gmail",
      "webhookId": "1e3d3cfd-aed5-4d22-ba20-fbdc40c89d97",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cjhnaex87bH9nxbe",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isEarly }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5568,
        2944
      ],
      "id": "8441185d-b1ec-40e0-bcca-123534c5be6f",
      "name": "If Early Completion"
    },
    {
      "parameters": {
        "jsCode": "const parseDate = (value) => {\n  if (!value) return null;\n\n  if (Array.isArray(value)) {\n    const [year, month = 1, day = 1, hour = 0, minute = 0, second = 0, nano = 0] = value;\n    const millis = Math.floor(Number(nano) / 1000000);\n    const date = new Date(year, month - 1, day, hour, minute, second, millis);\n    return Number.isNaN(date.getTime()) ? null : date;\n  }\n\n  const date = new Date(value);\n  return Number.isNaN(date.getTime()) ? null : date;\n};\n\nconst formatDate = (value) => {\n  const date = parseDate(value);\n  if (!date) return null;\n\n  const pad = (input) => String(input).padStart(2, '0');\n  return `${pad(date.getDate())}/${pad(date.getMonth() + 1)}/${date.getFullYear()} ${pad(date.getHours())}:${pad(date.getMinutes())}`;\n};\n\nconst deadline = parseDate($json.deadline);\nconst completedAt = parseDate($json.completedAt) ?? new Date();\nconst isEarly = deadline ? completedAt.getTime() <= deadline.getTime() : false;\n\nreturn [{\n  json: {\n    ...$json,\n    deadline: deadline?.toISOString() ?? $json.deadline ?? null,\n    deadlineDisplay: $json.deadlineDisplay ?? formatDate($json.deadline) ?? 'Chua co deadline',\n    completedAt: completedAt.toISOString(),\n    completedAtDisplay: formatDate(completedAt),\n    isEarly\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5344,
        2944
      ],
      "id": "645e7859-07d7-42e1-b2ab-2c355e9310a3",
      "name": "Evaluate Completion"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assigneeEmail }}",
        "subject": "=Task mới: {{ $json.taskName }}",
        "message": "=<div style=\"margin:0;padding:24px;background:#f4f6fb;font-family:Arial,sans-serif;color:#1f2937;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border-radius:18px;overflow:hidden;border:1px solid #e5e7eb;box-shadow:0 12px 32px rgba(15,23,42,0.08);\"><div style=\"padding:24px 28px;background:linear-gradient(135deg,#2563eb,#60a5fa);color:#ffffff;\"><div style=\"display:flex;align-items:center;gap:14px;\"><div style=\"width:48px;height:48px;border-radius:14px;background:rgba(255,255,255,0.18);text-align:center;line-height:48px;font-size:20px;font-weight:700;\">DA</div><div><div style=\"font-size:12px;letter-spacing:1.2px;text-transform:uppercase;opacity:0.9;\">Deadline Automation</div><div style=\"font-size:15px;opacity:0.95;\">Hệ thống điều phối công việc</div></div></div><h1 style=\"margin:18px 0 0;font-size:28px;line-height:1.3;\">Bạn vừa được giao task mới</h1></div><div style=\"padding:28px;\"><p style=\"margin:0 0 16px;font-size:16px;\">Xin chào,</p><p style=\"margin:0 0 20px;font-size:16px;line-height:1.7;\">Một task mới đã được giao cho bạn. Đây là thông tin tổng hợp để bạn bắt đầu xử lý nhanh hơn.</p><div style=\"padding:20px;border-radius:16px;background:#eff6ff;border:1px solid #bfdbfe;margin-bottom:20px;\"><div style=\"font-size:24px;font-weight:700;color:#1d4ed8;margin-bottom:6px;\">{{ $json.taskName }}</div><div style=\"font-size:14px;color:#1e40af;\">Mã task: {{ $json.taskId || 'Đang cập nhật' }}</div></div><table role=\"presentation\" style=\"width:100%;border-collapse:separate;border-spacing:0 12px;margin-bottom:20px;\"><tr><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Độ ưu tiên</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.priority || 'Chưa xác định' }}</div></td><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Deadline</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.deadlineDisplay || 'Chưa có deadline' }}</div></td></tr></table><div style=\"padding:18px;border-radius:14px;background:#f9fafb;border:1px solid #e5e7eb;margin-bottom:20px;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;margin-bottom:8px;\">Mô tả công việc</div><div style=\"font-size:15px;line-height:1.7;color:#374151;white-space:pre-line;\">{{ $json.taskDescription || 'Không có mô tả' }}</div></div><div style=\"padding:16px 18px;border-radius:14px;background:#f0fdf4;border:1px solid #bbf7d0;\"><div style=\"font-size:13px;color:#15803d;font-weight:700;margin-bottom:6px;\">Thông điệp nhắc</div><div style=\"font-size:15px;line-height:1.7;color:#166534;\">{{ $json.quote || 'Keep going.' }}<br/>{{ $json.author ? '- ' + $json.author : '' }}</div></div><div style=\"margin-top:22px;font-size:12px;color:#94a3b8;text-align:center;\">Deadline Automation • Theo dõi tiến độ, nhắc việc, và báo cáo tự động</div></div></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5792,
        2656
      ],
      "id": "5d536efc-8853-4a99-97dd-1559c94c725e",
      "name": "Send Assignment Gmail",
      "webhookId": "ac1a647e-a052-41e4-9668-70841afbe19f",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cjhnaex87bH9nxbe",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assigneeEmail }}",
        "subject": "=🔥 [KHẨN CẤP] {{ $json.taskName }}",
        "message": "=<div style=\"margin:0;padding:24px;background:#f4f6fb;font-family:Arial,sans-serif;color:#1f2937;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border-radius:18px;overflow:hidden;border:1px solid #e5e7eb;box-shadow:0 12px 32px rgba(15,23,42,0.08);\"><div style=\"padding:24px 28px;background:linear-gradient(135deg,#ef4444,#f97316);color:#ffffff;\"><div style=\"display:flex;align-items:center;gap:14px;\"><div style=\"width:48px;height:48px;border-radius:14px;background:rgba(255,255,255,0.18);text-align:center;line-height:48px;font-size:20px;font-weight:700;\">DA</div><div><div style=\"font-size:12px;letter-spacing:1.2px;text-transform:uppercase;opacity:0.9;\">Deadline Automation</div><div style=\"font-size:15px;opacity:0.95;\">Hệ thống điều phối công việc</div></div></div><h1 style=\"margin:18px 0 0;font-size:28px;line-height:1.3;\">Task ưu tiên cao đã được giao</h1></div><div style=\"padding:28px;\"><p style=\"margin:0 0 16px;font-size:16px;\">Xin chào,</p><p style=\"margin:0 0 20px;font-size:16px;line-height:1.7;\">Bạn vừa được giao một task quan trọng cần ưu tiên xử lý sớm. Vui lòng xem thông tin bên dưới và chủ động sắp xếp công việc.</p><div style=\"padding:20px;border-radius:16px;background:#fff7ed;border:1px solid #fed7aa;margin-bottom:20px;\"><div style=\"font-size:24px;font-weight:700;color:#9a3412;margin-bottom:6px;\">{{ $json.taskName }}</div><div style=\"font-size:14px;color:#c2410c;\">Mã task: {{ $json.taskId || 'Đang cập nhật' }}</div></div><table role=\"presentation\" style=\"width:100%;border-collapse:separate;border-spacing:0 12px;margin-bottom:20px;\"><tr><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Độ ưu tiên</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#dc2626;\">{{ $json.priority || 'HIGH' }}</div></td><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Deadline</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.deadlineDisplay || 'Chưa có deadline' }}</div></td></tr></table><div style=\"padding:18px;border-radius:14px;background:#f9fafb;border:1px solid #e5e7eb;margin-bottom:20px;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;margin-bottom:8px;\">Mô tả công việc</div><div style=\"font-size:15px;line-height:1.7;color:#374151;white-space:pre-line;\">{{ $json.taskDescription || 'Không có mô tả' }}</div></div><div style=\"padding:16px 18px;border-radius:14px;background:#eff6ff;border:1px solid #bfdbfe;\"><div style=\"font-size:13px;color:#1d4ed8;font-weight:700;margin-bottom:6px;\">Thông điệp nhắc</div><div style=\"font-size:15px;line-height:1.7;color:#1e3a8a;\">{{ $json.quote || 'Keep going.' }}<br/>{{ $json.author ? '- ' + $json.author : '' }}</div></div><div style=\"margin-top:22px;font-size:12px;color:#94a3b8;text-align:center;\">Deadline Automation • Theo dõi tiến độ, nhắc việc, và báo cáo tự động</div></div></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5792,
        2464
      ],
      "id": "c4043527-9a90-443b-9631-30df1a1a72fc",
      "name": "Send High Priority Gmail",
      "webhookId": "a67bf02b-a979-4132-84cd-34ad6f5bd130",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cjhnaex87bH9nxbe",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority }}",
              "value2": "HIGH"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5568,
        2560
      ],
      "id": "8921d7ed-b1b7-4c2a-971d-52f336fc8b5a",
      "name": "If High Priority"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y",
          "mode": "list",
          "cachedResultName": "Task_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 947514859,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y/edit#gid=947514859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "taskId": "={{ $json.taskId }}",
            "taskName": "={{ $json.taskName }}",
            "assigneeEmail": "={{ $json.assigneeEmail }}",
            "priority": "={{ $json.priority }}",
            "status": "={{ $json.status }}",
            "deadline": "={{ $json.deadline }}",
            "createdAt": "={{ $json.receivedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taskName",
              "displayName": "taskName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigneeEmail",
              "displayName": "assigneeEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5568,
        2368
      ],
      "id": "d888afb8-279b-43e7-addc-3f4a9ad8a29b",
      "name": "Append Audit Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gAxM423I89XeYwaH",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const note = $json.note ?? $json.adminNote ?? $json.sourceInput ?? $json.taskDescription ?? 'Keep going.';\nreturn [{ json: { ...$json, quote: note, author: note === 'Keep going.' ? 'System' : 'Manager note' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5344,
        2464
      ],
      "id": "38c179ed-a0ea-41b0-a5cb-9d98b597085b",
      "name": "Compose Assignment Context"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assigneeEmail }}",
        "subject": "=Task bị hủy: {{ $json.taskName }}",
        "message": "=<div style=\"margin:0;padding:24px;background:#f4f6fb;font-family:Arial,sans-serif;color:#1f2937;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border-radius:18px;overflow:hidden;border:1px solid #e5e7eb;box-shadow:0 12px 32px rgba(15,23,42,0.08);\"><div style=\"padding:24px 28px;background:linear-gradient(135deg,#64748b,#94a3b8);color:#ffffff;\"><div style=\"display:flex;align-items:center;gap:14px;\"><div style=\"width:48px;height:48px;border-radius:14px;background:rgba(255,255,255,0.18);text-align:center;line-height:48px;font-size:20px;font-weight:700;\">DA</div><div><div style=\"font-size:12px;letter-spacing:1.2px;text-transform:uppercase;opacity:0.9;\">Deadline Automation</div><div style=\"font-size:15px;opacity:0.95;\">Hệ thống điều phối công việc</div></div></div><h1 style=\"margin:18px 0 0;font-size:28px;line-height:1.3;\">Task đã được hủy</h1></div><div style=\"padding:28px;\"><p style=\"margin:0 0 16px;font-size:16px;\">Xin chào,</p><p style=\"margin:0 0 18px;font-size:16px;line-height:1.7;\">Task dưới đây đã được quản lý hủy trong hệ thống. Bạn không cần tiếp tục xử lý task này nữa.</p><div style=\"padding:20px;border-radius:16px;background:#f8fafc;border:1px solid #cbd5e1;margin-bottom:20px;\"><div style=\"font-size:24px;font-weight:700;color:#334155;margin-bottom:6px;\">{{ $json.taskName }}</div><div style=\"font-size:14px;color:#475569;\">Mã task: {{ $json.taskId || 'Đang cập nhật' }}</div></div><div style=\"padding:16px 18px;border-radius:14px;background:#f8fafc;border:1px solid #e2e8f0;\"><div style=\"font-size:13px;color:#475569;font-weight:700;margin-bottom:6px;\">Ghi chú</div><div style=\"font-size:15px;line-height:1.7;color:#334155;\">{{ $json.eventMessage || 'Task đã được hủy bởi quản lý.' }}</div></div><div style=\"margin-top:22px;font-size:12px;color:#94a3b8;text-align:center;\">Deadline Automation • Theo dõi tiến độ, nhắc việc, và báo cáo tự động</div></div></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5120,
        3072
      ],
      "id": "200023bd-1919-44ee-9982-b631ca53e259",
      "name": "Send Task Cancelled Gmail",
      "webhookId": "7ce5b9c2-9e63-494d-a9b7-c19a757f1ef7",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cjhnaex87bH9nxbe",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assigneeEmail }}",
        "subject": "=Task được cập nhật: {{ $json.taskName }}",
        "message": "=<div style=\"margin:0;padding:24px;background:#f4f6fb;font-family:Arial,sans-serif;color:#1f2937;\"><div style=\"max-width:640px;margin:0 auto;background:#ffffff;border-radius:18px;overflow:hidden;border:1px solid #e5e7eb;box-shadow:0 12px 32px rgba(15,23,42,0.08);\"><div style=\"padding:24px 28px;background:linear-gradient(135deg,#7c3aed,#a78bfa);color:#ffffff;\"><div style=\"display:flex;align-items:center;gap:14px;\"><div style=\"width:48px;height:48px;border-radius:14px;background:rgba(255,255,255,0.18);text-align:center;line-height:48px;font-size:20px;font-weight:700;\">DA</div><div><div style=\"font-size:12px;letter-spacing:1.2px;text-transform:uppercase;opacity:0.9;\">Deadline Automation</div><div style=\"font-size:15px;opacity:0.95;\">Hệ thống điều phối công việc</div></div></div><h1 style=\"margin:18px 0 0;font-size:28px;line-height:1.3;\">Task của bạn vừa được cập nhật</h1></div><div style=\"padding:28px;\"><p style=\"margin:0 0 16px;font-size:16px;\">Xin chào,</p><p style=\"margin:0 0 18px;font-size:16px;line-height:1.7;\">Quản lý vừa cập nhật thông tin task của bạn. Vui lòng kiểm tra lại các thay đổi bên dưới.</p><div style=\"padding:20px;border-radius:16px;background:#f5f3ff;border:1px solid #ddd6fe;margin-bottom:20px;\"><div style=\"font-size:24px;font-weight:700;color:#6d28d9;margin-bottom:6px;\">{{ $json.taskName }}</div><div style=\"font-size:14px;color:#7c3aed;\">Mã task: {{ $json.taskId || 'Đang cập nhật' }}</div></div><table role=\"presentation\" style=\"width:100%;border-collapse:separate;border-spacing:0 12px;margin-bottom:20px;\"><tr><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Deadline mới</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.deadlineDisplay || 'Chưa có deadline' }}</div></td><td style=\"width:50%;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;vertical-align:top;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">Độ ưu tiên</div><div style=\"margin-top:6px;font-size:18px;font-weight:700;color:#111827;\">{{ $json.priority || 'Chưa xác định' }}</div></td></tr></table><div style=\"padding:18px;border-radius:14px;background:#f9fafb;border:1px solid #e5e7eb;margin-bottom:20px;\"><div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;margin-bottom:8px;\">Mô tả công việc</div><div style=\"font-size:15px;line-height:1.7;color:#374151;white-space:pre-line;\">{{ $json.taskDescription || 'Không có mô tả' }}</div></div><div style=\"padding:16px 18px;border-radius:14px;background:#eef2ff;border:1px solid #c7d2fe;\"><div style=\"font-size:13px;color:#4338ca;font-weight:700;margin-bottom:6px;\">Chi tiết cập nhật</div><div style=\"font-size:15px;line-height:1.7;color:#3730a3;\">{{ $json.eventMessage || 'Task đã được cập nhật.' }}</div></div><div style=\"margin-top:22px;font-size:12px;color:#94a3b8;text-align:center;\">Deadline Automation • Theo dõi tiến độ, nhắc việc, và báo cáo tự động</div></div></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5120,
        2880
      ],
      "id": "eaf05ed1-79c7-456d-8084-cafa337c9bcd",
      "name": "Send Task Updated Gmail",
      "webhookId": "b20eeb21-5741-4616-9f2a-d6fb9af50112",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cjhnaex87bH9nxbe",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.status }}",
        "rules": {
          "rules": [
            {
              "value2": "PENDING"
            },
            {
              "value2": "DONE",
              "output": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        5072,
        2624
      ],
      "id": "c7ba341d-05c6-4dd0-82f5-47c0287883c3",
      "name": "Switch Status"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.eventType || '' }}",
        "rules": {
          "rules": [
            {
              "value2": "TASK_CREATED"
            },
            {
              "value2": "TASK_STATUS_CHANGED"
            },
            {
              "value2": "TASK_UPDATED",
              "output": 1
            },
            {
              "value2": "TASK_CANCELLED",
              "output": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        4896,
        2848
      ],
      "id": "55e8aa81-e4ac-4af6-baf8-9ea0c744f44a",
      "name": "Switch Event Type"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nconst parseDate = (value) => {\n  if (!value) return null;\n\n  if (Array.isArray(value)) {\n    const [year, month = 1, day = 1, hour = 0, minute = 0, second = 0, nano = 0] = value;\n    const millis = Math.floor(Number(nano) / 1000000);\n    const date = new Date(year, month - 1, day, hour, minute, second, millis);\n    return Number.isNaN(date.getTime()) ? null : date;\n  }\n\n  if (typeof value === 'object') {\n    const date = new Date(value);\n    return Number.isNaN(date.getTime()) ? null : date;\n  }\n\n  const date = new Date(value);\n  return Number.isNaN(date.getTime()) ? null : date;\n};\n\nconst formatDate = (value) => {\n  const date = parseDate(value);\n  if (!date) return null;\n\n  const pad = (input) => String(input).padStart(2, '0');\n  return `${pad(date.getDate())}/${pad(date.getMonth() + 1)}/${date.getFullYear()} ${pad(date.getHours())}:${pad(date.getMinutes())}`;\n};\n\nconst deadlineRaw = body.deadline ?? body.dueDate ?? body.endDate;\nconst description = body.taskDescription ?? body.adminNote ?? body.sourceInput ?? body.description ?? null;\nconst note = body.adminNote ?? body.sourceInput ?? body.taskDescription ?? null;\nconst deadlineDate = parseDate(deadlineRaw);\nconst completedDate = parseDate(body.completedAt);\nconst createdDate = parseDate(body.createdAt);\n\nreturn [{\n  json: {\n    taskId: body.taskId,\n    taskName: body.taskName,\n    taskDescription: description,\n    adminNote: body.adminNote ?? null,\n    sourceInput: body.sourceInput ?? null,\n    assigneeEmail: body.assigneeEmail,\n    managerEmail: body.managerEmail,\n    ownerName: body.ownerName,\n    priority: body.priority,\n    status: body.status,\n    eventType: body.eventType ?? null,\n    eventMessage: body.eventMessage ?? null,\n    deadline: deadlineDate?.toISOString() ?? deadlineRaw ?? null,\n    deadlineDisplay: formatDate(deadlineRaw) ?? (typeof deadlineRaw === 'string' ? deadlineRaw : null) ?? 'Chưa có deadline',\n    createdAt: createdDate?.toISOString() ?? body.createdAt ?? null,\n    createdAtDisplay: formatDate(body.createdAt),\n    completedAt: completedDate?.toISOString() ?? null,\n    completedAtDisplay: formatDate(body.completedAt),\n    reminderCount: body.reminderCount ?? 0,\n    note,\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4672,
        2880
      ],
      "id": "f59ae152-6678-4118-8abd-0df753d41130",
      "name": "Normalize Task Payload"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "task-events",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        4448,
        2880
      ],
      "id": "8ad5fcf6-5c81-40f4-bd61-a60a08628028",
      "name": "Webhook Task Events",
      "webhookId": "375eeee0-ce3e-47a8-9102-83ef442120f6"
    },
    {
      "parameters": {
        "content": "## Flow 2 - Task Events\n",
        "height": 956,
        "width": 2384,
        "color": "#EDF2E3"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4336,
        2304
      ],
      "id": "b0b88b0c-1cab-4b0e-a35a-e2e95615ff45",
      "name": "Note - Main Flow"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((entry) => {\n  const item = entry.json ?? {};\n  return {\n    json: {\n      ...item,\n      taskId: item.taskId ?? 'UNKNOWN',\n      taskName: item.taskName ?? 'Untitled task',\n      assigneeEmail: item.assigneeEmail ?? null,\n      priority: item.priority ?? 'MEDIUM',\n      status: item.status ?? 'PENDING',\n      deadline: item.deadline ?? null,\n      daysLeft: item.daysLeft ?? null,\n      reminderCount: item.reminderCount ?? 0,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        3584
      ],
      "id": "a701ec42-892a-4e00-b66a-ccb308dd5b4b",
      "name": "Normalize Reminder Payload"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y",
          "mode": "list",
          "cachedResultName": "Task_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 947514859,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y/edit#gid=947514859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "taskId": "={{ $json.taskId }}",
            "taskName": "={{ $json.taskName }}",
            "assigneeEmail": "={{ $json.assigneeEmail }}",
            "priority": "={{ $json.priority }}",
            "status": "=REMINDER_SENT",
            "deadline": "={{ $json.deadline }}",
            "createdAt": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taskName",
              "displayName": "taskName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigneeEmail",
              "displayName": "assigneeEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5568,
        3872
      ],
      "id": "086d7035-943c-4c3f-a739-8137b5464c57",
      "name": "Append Reminder Audit Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gAxM423I89XeYwaH",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    ...$json,\n    opsMessage: [\n      '⏰ THONG BAO NHAC VIEC',\n      `📝 Task: ${$json.taskName || '-'}`,\n      `🆔 Ma task: ${$json.taskId || '-'}`,\n      `👤 Nguoi duoc giao: ${$json.assigneeEmail || '-'}`,\n      `📉 Con lai: ${$json.daysLeft ?? 'NA'} ngay`,\n      `📅 Deadline: ${$json.deadlineDisplay || $json.deadline || '-'}`\n    ].join('\\n')\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        3488
      ],
      "id": "b3cf7e3a-0742-48a1-b46a-b3b9ef076dbd",
      "name": "Build Reminder Ops Message"
    },
    {
      "parameters": {
        "chatId": "7065866911",
        "text": "={{ $json.opsMessage }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        5792,
        3488
      ],
      "id": "061a4da4-1295-43e0-861a-d49bfa30d7cd",
      "name": "Notify Reminder Ops Telegram",
      "webhookId": "d2c7d160-1fcd-4457-838f-82d52d600799",
      "credentials": {
        "telegramApi": {
          "id": "UvaiPAQZMFmVIwe5",
          "name": "Reminder task"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    ...$json,\n    overdueDays: $json.overdueDays ?? null,\n    escalatedAt: new Date().toISOString()\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        4288
      ],
      "id": "1e4cc828-2b67-4a4f-bf62-564074c7ddd8",
      "name": "Normalize Overdue Payload"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y",
          "mode": "list",
          "cachedResultName": "Task_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 947514859,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y/edit#gid=947514859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "taskId": "=OVERDUE_REPORT",
            "taskName": "=Weekly overdue digest",
            "assigneeEmail": "=system",
            "priority": "={{ $json.count ?? 0 }}",
            "status": "=OVERDUE_REPORTED",
            "deadline": "={{ $now.toISO() }}",
            "createdAt": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taskName",
              "displayName": "taskName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigneeEmail",
              "displayName": "assigneeEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5344,
        4288
      ],
      "id": "a122251f-1073-44d2-b68a-4b8d56b68629",
      "name": "Append Overdue Report Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gAxM423I89XeYwaH",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-generate-subtask",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://quangchung.me,https://www.quangchung.me"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5056,
        1920
      ],
      "id": "00353451-bd36-4e26-b5e6-56eeae6bdd1b",
      "name": "Webhook",
      "webhookId": "66bcd857-5088-4ce5-a0ca-e9e8fbca5709"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tao 3 sub-task cho task: {{ $json.body.taskName }}. Tra ve DUY NHAT JSON array dung format nay: [{\"title\":\"...\"},{\"title\":\"...\"},{\"title\":\"...\"}]. Khong markdown, khong text khac.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5280,
        1920
      ],
      "id": "3c227b68-d327-417e-b94d-1863e6d3303f",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {
          "maxTokens": 180,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5280,
        2112
      ],
      "id": "f457c6e1-3ff6-4067-8400-859163336763",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "674kXiuNEhUZ9uiP",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5632,
        1920
      ],
      "id": "6efaf2b6-fab9-410e-8ef0-ffad7f1af9b7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "chatId": "7065866911",
        "text": "={{ [\n  '📌 THONG BAO GIAO TASK',\n  `🆔 Ma task: ${$node[\"Compose Assignment Context\"].json.taskId || '-'}`,\n  `📝 Ten task: ${$node[\"Compose Assignment Context\"].json.taskName || '-'}`,\n  `👤 Nguoi nhan: ${$node[\"Compose Assignment Context\"].json.assigneeEmail || '-'}`,\n  `🔥 Uu tien: ${$node[\"Compose Assignment Context\"].json.priority || '-'}`,\n  `📅 Deadline: ${$node[\"Compose Assignment Context\"].json.deadlineDisplay || 'Chua co deadline'}`,\n  $node[\"Compose Assignment Context\"].json.quote ? `💬 Ghi chu: ${$node[\"Compose Assignment Context\"].json.quote}` : null\n].filter(Boolean).join('\\n') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        6016,
        2560
      ],
      "id": "b7c6e9e5-ebe5-4ade-be78-f579c7f564f7",
      "name": "send Task Telegram",
      "webhookId": "c48d6dd1-1d9c-4301-913a-bb968a021c7a",
      "credentials": {
        "telegramApi": {
          "id": "8FoWjXdJDyBiISIA",
          "name": "New task"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assigneeEmail }}",
        "subject": "=🚨 [QUA HAN] {{ $json.taskName }}",
        "message": "=<div style=\"margin:0;padding:32px;background:linear-gradient(180deg,#fff1f2 0%,#fff7ed 100%);font-family:Arial,sans-serif;color:#1f2937;\"><div style=\"max-width:700px;margin:0 auto;background:#ffffff;border-radius:24px;overflow:hidden;border:1px solid #fecaca;box-shadow:0 22px 48px rgba(239,68,68,0.14);\"><div style=\"padding:28px 32px;background:linear-gradient(135deg,#dc2626,#f97316);color:#ffffff;\"><div style=\"display:flex;align-items:center;justify-content:space-between;gap:16px;\"><div style=\"display:flex;align-items:center;gap:14px;\"><div style=\"width:52px;height:52px;border-radius:16px;background:rgba(255,255,255,0.16);text-align:center;line-height:52px;font-size:22px;font-weight:700;\">DA</div><div><div style=\"font-size:12px;letter-spacing:1.4px;text-transform:uppercase;opacity:0.9;\">Deadline Automation</div><div style=\"font-size:15px;opacity:0.95;\">Cảnh báo công việc quá hạn</div></div></div><div style=\"padding:10px 14px;border-radius:999px;background:rgba(255,255,255,0.18);font-size:13px;font-weight:700;\">{{ $json.daysLeft !== null && $json.daysLeft < 0 ? 'Tre ' + Math.abs($json.daysLeft) + ' ngay' : 'Can xu ly ngay' }}</div></div><h1 style=\"margin:20px 0 0;font-size:30px;line-height:1.25;\">{{ $json.taskName }}</h1><p style=\"margin:10px 0 0;font-size:15px;line-height:1.7;opacity:0.94;\">Task cua ban da qua han. Vui long kiem tra ngay de cap nhat tien do va tranh anh huong den ke hoach chung.</p></div><div style=\"padding:30px 32px;\"><div style=\"display:grid;grid-template-columns:repeat(3,minmax(0,1fr));gap:12px;margin-bottom:22px;\"><div style=\"padding:16px;border-radius:18px;background:#fef2f2;border:1px solid #fecaca;\"><div style=\"font-size:12px;color:#b91c1c;text-transform:uppercase;letter-spacing:0.8px;\">Ma task</div><div style=\"margin-top:8px;font-size:18px;font-weight:700;color:#7f1d1d;\">{{ $json.taskId || 'Dang cap nhat' }}</div></div><div style=\"padding:16px;border-radius:18px;background:#fff7ed;border:1px solid #fdba74;\"><div style=\"font-size:12px;color:#c2410c;text-transform:uppercase;letter-spacing:0.8px;\">Uu tien</div><div style=\"margin-top:8px;font-size:18px;font-weight:700;color:#9a3412;\">{{ $json.priority || 'HIGH' }}</div></div><div style=\"padding:16px;border-radius:18px;background:#eff6ff;border:1px solid #bfdbfe;\"><div style=\"font-size:12px;color:#1d4ed8;text-transform:uppercase;letter-spacing:0.8px;\">Deadline</div><div style=\"margin-top:8px;font-size:18px;font-weight:700;color:#1e3a8a;\">{{ $json.deadlineDisplay || $json.deadline || 'Chua co deadline' }}</div></div></div><div style=\"padding:20px;border-radius:20px;background:#fff7ed;border:1px dashed #fb7185;margin-bottom:22px;\"><div style=\"font-size:13px;color:#b91c1c;font-weight:700;margin-bottom:8px;\">Can thuc hien ngay</div><div style=\"font-size:15px;line-height:1.8;color:#7f1d1d;\">1. Kiem tra tinh trang hien tai cua task.<br/>2. Cap nhat tien do hoac tiep tuc xu ly ngay lap tuc.<br/>3. Neu co vuong mac, phan hoi lai cho quan ly som nhat.</div></div><div style=\"padding:18px 20px;border-radius:18px;background:#f8fafc;border:1px solid #e5e7eb;\"><div style=\"font-size:13px;color:#64748b;font-weight:700;margin-bottom:8px;\">Mo ta cong viec</div><div style=\"font-size:15px;line-height:1.8;color:#334155;white-space:pre-line;\">{{ $json.taskDescription || 'Khong co mo ta chi tiet.' }}</div></div><div style=\"margin-top:24px;font-size:12px;color:#94a3b8;text-align:center;\">Deadline Automation • Canh bao qua han, dong bo trang thai va ho tro theo doi tien do tu dong</div></div></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5568,
        4576
      ],
      "id": "871be461-7393-424c-ad1e-a0cfaa3aa230",
      "name": "Send Escalation Gmail",
      "webhookId": "83f86ce6-acc5-459a-bbc3-a5b5de172cf6",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cjhnaex87bH9nxbe",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7065866911",
        "text": "={{ $json.opsMessage }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        5568,
        4800
      ],
      "id": "473dde99-84b0-4efc-be09-fc58baf1e2d5",
      "name": "Notify Health Ops Telegram",
      "webhookId": "786bc7d0-2432-446d-ba5d-c2fa3499bc17",
      "credentials": {
        "telegramApi": {
          "id": "y5tyBVQfSqBBBS4g",
          "name": "Statistics"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    opsMessage: [\n      '📊 BAO CAO HE THONG CUOI NGAY',\n      '',\n      `📂 Tong task dang mo: ${$json.totalOpen ?? '-'}`,\n      `🚨 Task qua han: ${$json.overdueCount ?? '-'}`,\n      `🔥 Task uu tien cao: ${$json.highPriorityCount ?? '-'}`,\n      `⚙️ Task dang xu ly: ${$json.inProgressCount ?? '-'}`,\n      `✅ Task da hoan thanh: ${$json.doneCount ?? '-'}`,\n      `🕒 Thoi diem chup: ${new Date().toLocaleString('vi-VN')}`\n    ].join('\\n')\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5344,
        4800
      ],
      "id": "7a58a61f-fb85-46c9-8bf1-afb279ea3145",
      "name": "Build Health Ops Message"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y",
          "mode": "list",
          "cachedResultName": "Task_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 947514859,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QeMzy6aDdgJekNqH6XQExigxrkirwMWDdS41xkien7Y/edit#gid=947514859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "taskId": "=HEALTH_CHECK",
            "taskName": "=Nightly snapshot",
            "assigneeEmail": "=system",
            "priority": "={{ $json.highPriorityCount ?? 0 }}",
            "status": "=HEALTH_OK",
            "deadline": "={{ $json.snapshotAt ?? $now.toISO() }}",
            "createdAt": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taskName",
              "displayName": "taskName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigneeEmail",
              "displayName": "assigneeEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5792,
        4992
      ],
      "id": "b57eebee-2fb8-4ba4-94b5-d4544c136676",
      "name": "Append Health Snapshot Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gAxM423I89XeYwaH",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((entry) => entry.json ?? {});\nconst normalize = (value) => String(value || '').trim().toUpperCase().replace(/[\\s-]+/g, '_');\n\nconst totalOpen = items.length;\nconst highPriorityCount = items.filter((item) => normalize(item.priority) === 'HIGH').length;\nconst inProgressCount = items.filter((item) => normalize(item.status) === 'IN_PROGRESS').length;\nconst doneCount = items.filter((item) => normalize(item.status) === 'DONE').length;\nconst overdueCount = items.filter((item) => normalize(item.status) === 'OVERDUE').length;\n\nconst assigneeCounts = {};\nfor (const item of items) {\n  const assignee = item.assigneeEmail || item.ownerName || 'Chua ro';\n  assigneeCounts[assignee] = (assigneeCounts[assignee] || 0) + 1;\n}\n\nconst topAssignee = Object.entries(assigneeCounts).sort((a, b) => b[1] - a[1])[0] || null;\nconst topAssigneeLabel = topAssignee ? `${topAssignee[0]} (${topAssignee[1]})` : '-';\n\nconst focusTasks = [...items]\n  .filter((item) => ['OVERDUE', 'IN_PROGRESS', 'PENDING'].includes(normalize(item.status)))\n  .sort((a, b) => {\n    const priorityRank = { HIGH: 0, MEDIUM: 1, LOW: 2 };\n    const aPriority = priorityRank[normalize(a.priority)] ?? 9;\n    const bPriority = priorityRank[normalize(b.priority)] ?? 9;\n    if (aPriority !== bPriority) return aPriority - bPriority;\n    const aDeadline = Date.parse(a.deadline || '') || Number.MAX_SAFE_INTEGER;\n    const bDeadline = Date.parse(b.deadline || '') || Number.MAX_SAFE_INTEGER;\n    return aDeadline - bDeadline;\n  })\n  .slice(0, 3)\n  .map((item) => ({\n    taskId: item.taskId || null,\n    taskName: item.taskName || null,\n    assigneeEmail: item.assigneeEmail || null,\n    status: item.status || null,\n    deadline: item.deadline || null,\n    deadlineDisplay: item.deadlineDisplay || item.deadline || null\n  }));\n\nreturn [{\n  json: {\n    items,\n    totalOpen,\n    highPriorityCount,\n    inProgressCount,\n    doneCount,\n    overdueCount,\n    topAssigneeLabel,\n    focusTasks,\n    snapshotAt: items[0]?.snapshotAt || new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5120,
        4896
      ],
      "id": "2826cd6e-1522-4e3c-9dd3-dd62c3e801bb",
      "name": "Calculate Workload Signals"
    },
    {
      "parameters": {
        "jsCode": "const snapshotAt = new Date().toISOString();\nreturn $input.all().map((entry) => ({\n  json: {\n    ...(entry.json ?? {}),\n    snapshotAt\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        4896
      ],
      "id": "f195e96f-e54e-44ac-9afd-3d56371134f6",
      "name": "Normalize Open Snapshot"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 59
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        4448,
        4896
      ],
      "id": "0b158d8a-66a0-48f4-9676-cb5ff1b8406d",
      "name": "Schedule 11:59PM"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8080/api/webhooks/pending-reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "local-n8n-sync-secret"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4672,
        4896
      ],
      "id": "07451793-7cf8-4d7f-a133-881ce14ef845",
      "name": "Fetch Open Task Snapshot"
    },
    {
      "parameters": {
        "jsCode": "const snapshotAt = $json.snapshotAt || new Date().toISOString();\nconst focusTasks = Array.isArray($json.focusTasks) ? $json.focusTasks : [];\n\nconst formatStatus = (status) => {\n  const value = String(status || '').toUpperCase();\n  if (value === 'IN_PROGRESS') return 'Dang xu ly';\n  if (value === 'OVERDUE') return 'Qua han';\n  if (value === 'DONE') return 'Da hoan thanh';\n  if (value === 'PENDING') return 'Cho xu ly';\n  return status || '-';\n};\n\nconst lines = [\n  '📊 BAO CAO HE THONG CUOI NGAY',\n  '',\n  `📂 Tong task dang mo: ${$json.totalOpen ?? 0}`,\n  `🚨 Task qua han: ${$json.overdueCount ?? 0}`,\n  `⚙️ Dang xu ly: ${$json.inProgressCount ?? 0}`,\n  `✅ Da hoan thanh: ${$json.doneCount ?? 0}`,\n  `🔥 Uu tien cao: ${$json.highPriorityCount ?? 0}`,\n  `👤 Nhieu task nhat: ${$json.topAssigneeLabel || '-'}`,\n  `🕒 Thoi diem chup: ${snapshotAt}`\n];\n\nif (focusTasks.length) {\n  lines.push('');\n  lines.push('🎯 TASK CAN CHU Y:');\n  focusTasks.forEach((task, index) => {\n    lines.push(\n      `${index + 1}. ${task.taskName || '-'} | ${task.assigneeEmail || '-'} | ${formatStatus(task.status)} | ${task.deadlineDisplay || task.deadline || '-'}`\n    );\n  });\n}\n\nreturn [{\n  json: {\n    ...$json,\n    fileContent: lines.join('\\n')\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5344,
        4992
      ],
      "id": "cf3db3e6-ffe4-4dd2-be30-e29b8046f098",
      "name": "Build Health Summary"
    },
    {
      "parameters": {
        "chatId": "7065866911",
        "text": "=BOT he thong: {{ $json.fileContent }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        5568,
        4992
      ],
      "id": "115c94dd-e8a1-4d78-a85a-5c94c5fc19b3",
      "name": "Send Health Telegram",
      "webhookId": "bf0ef731-2eba-44f2-9d1d-dad15d263c94",
      "credentials": {
        "telegramApi": {
          "id": "y5tyBVQfSqBBBS4g",
          "name": "Statistics"
        }
      }
    },
    {
      "parameters": {
        "content": "## Flow 1 -  AI Generate Subtask",
        "height": 412,
        "width": 2384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4336,
        1872
      ],
      "id": "864b44dc-3582-4e28-8acb-6d530fe1a419",
      "name": "Note - Main Flow1"
    },
    {
      "parameters": {
        "chatId": "7065866911",
        "text": "={{ [\n  '✅ HOAN THANH SOM',\n  `👤 Nhan vien: ${$node[\"Evaluate Completion\"].json.assigneeEmail || '-'}`,\n  `📝 Task: ${$node[\"Evaluate Completion\"].json.taskName || '-'}`,\n  `📅 Deadline: ${$node[\"Evaluate Completion\"].json.deadlineDisplay || '-'}`,\n  `🕒 Hoan thanh luc: ${$node[\"Evaluate Completion\"].json.completedAtDisplay || '-'}`\n].join('\\n') }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        6016,
        2848
      ],
      "id": "7f39d90c-7ed2-4f70-9d83-b9061f541413",
      "name": "Report task complete early",
      "webhookId": "223d1cfb-5e93-4b40-a905-8cbb098fa07e",
      "credentials": {
        "telegramApi": {
          "id": "8FoWjXdJDyBiISIA",
          "name": "New task"
        }
      }
    }
  ],
  "connections": {
    "Sync Escalation To Backend": {
      "main": [
        []
      ]
    },
    "Split Overdue Tasks": {
      "main": [
        [
          {
            "node": "Sync Escalation To Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Escalation Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Overdue Report": {
      "main": [
        [
          {
            "node": "Split Overdue Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Overdue Report Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Overdue Report Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Overdue Tasks": {
      "main": [
        [
          {
            "node": "Normalize Overdue Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Friday 5PM": {
      "main": [
        [
          {
            "node": "Fetch Overdue Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Due Soon": {
      "main": [
        [
          {
            "node": "Send Reminder Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Reminder To Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Reminder Audit Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Reminder Ops Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Days Left": {
      "main": [
        [
          {
            "node": "If Due Soon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Reminders": {
      "main": [
        [
          {
            "node": "Normalize Reminder Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 8AM": {
      "main": [
        [
          {
            "node": "Fetch Pending Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Early Completion Gmail": {
      "main": [
        [
          {
            "node": "Report task complete early",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Early Completion": {
      "main": [
        [
          {
            "node": "Send Early Completion Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Completion Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Completion": {
      "main": [
        [
          {
            "node": "If Early Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Assignment Gmail": {
      "main": [
        [
          {
            "node": "send Task Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send High Priority Gmail": {
      "main": [
        [
          {
            "node": "send Task Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If High Priority": {
      "main": [
        [
          {
            "node": "Send High Priority Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Assignment Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Assignment Context": {
      "main": [
        [
          {
            "node": "If High Priority",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Status": {
      "main": [
        [
          {
            "node": "Compose Assignment Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evaluate Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Event Type": {
      "main": [
        [
          {
            "node": "Switch Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Task Updated Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Task Cancelled Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Task Payload": {
      "main": [
        [
          {
            "node": "Switch Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Task Events": {
      "main": [
        [
          {
            "node": "Normalize Task Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Reminder Payload": {
      "main": [
        [
          {
            "node": "Compute Days Left",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Ops Message": {
      "main": [
        [
          {
            "node": "Notify Reminder Ops Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Overdue Payload": {
      "main": [
        [
          {
            "node": "Render Overdue Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Health Ops Message": {
      "main": [
        [
          {
            "node": "Notify Health Ops Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Workload Signals": {
      "main": [
        [
          {
            "node": "Build Health Ops Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Health Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Open Snapshot": {
      "main": [
        [
          {
            "node": "Calculate Workload Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 11:59PM": {
      "main": [
        [
          {
            "node": "Fetch Open Task Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Open Task Snapshot": {
      "main": [
        [
          {
            "node": "Normalize Open Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Health Summary": {
      "main": [
        [
          {
            "node": "Send Health Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Health Telegram": {
      "main": [
        [
          {
            "node": "Append Health Snapshot Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7db58615eea76af926b37c9ce792f3a3b6a538b566b08c5a92cda41e96ff375c"
  }
}