workflow1.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA",
          "mode": "list",
          "cachedResultName": "TaskAutomation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1395565445,
          "mode": "list",
          "cachedResultName": "Task_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA/edit#gid=1395565445"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b0c5b1f5-7b40-44d8-87d5-0adc2533c0f0",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "AiIxxvUu35BUCc0N",
          "name": "TaskAutomation"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Lấy ngày tháng năm hiện tại\nconst date = new Date();\nconst yyyy = date.getFullYear();\nconst mm = String(date.getMonth() + 1).padStart(2, '0');\nconst dd = String(date.getDate()).padStart(2, '0');\n\n// Tạo một số ngẫu nhiên từ 000 đến 999 để không bao giờ bị trùng\nconst randomNum = Math.floor(Math.random() * 1000).toString().padStart(3, '0');\n\n// Ghép lại thành chuỗi Task ID chuẩn doanh nghiệp (VD: TASK-20260312-045)\n$input.item.json.task_id = `TASK-${yyyy}${mm}${dd}-${randomNum}`;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -192
      ],
      "id": "d01766a1-d8cf-49cb-9a51-cbd456b5f482",
      "name": "Code TaskID Automation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a55ce29c-43f6-4c23-bc3b-7049cf65fbd2",
              "leftValue": "={{ $json.assignee_email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f572b2be-21d6-4287-bca6-c4cc2d7a3a64",
              "leftValue": "={{ $json.assignee_email }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -96
      ],
      "id": "5e8661ac-07b4-4bf1-b55c-df361cbc9c30",
      "name": "IF-Validate Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "27152f33-721b-4788-94f1-d836b3fafab4",
              "leftValue": "={{ $json.task_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "897c0c28-4a3e-499f-8373-8edb46f66664",
              "leftValue": "={{ $json.assignee_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5cfb1040-e12b-4942-b9d8-1539a96cfec3",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "f9d351cc-12f2-4c0c-be0a-3b0eb654de5a",
      "name": "IF-Check Required Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29d900f8-0df8-4c23-b369-bc4b46d7e5cf",
              "name": "task_name",
              "value": "={{ $json.task_name.trim() }}",
              "type": "string"
            },
            {
              "id": "890ee7a4-7708-44a2-bbd2-c33a2e5d610f",
              "name": "assignee_email",
              "value": "={{ $json.assignee_email.toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "f74865b8-49e9-479d-9867-3982f8867f94",
              "name": "priority",
              "value": "={{ $json.priority.trim().charAt(0).toUpperCase() + $json.priority.trim().slice(1).toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -192
      ],
      "id": "426abf9c-75d9-4767-a456-3945edf11dc4",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Lấy độ ưu tiên mà Node 4 đã chuẩn hóa (High hoặc Normal)\nconst priority = $input.item.json.priority;\n\n// Nếu High thì cộng 7 ngày, nếu Normal thì cộng 30 ngày\nlet daysToAdd = (priority === 'High') ? 7 : 30;\n\n// Bắt đầu tính toán ngày hạn chót\nlet deadlineDate = new Date();\ndeadlineDate.setDate(deadlineDate.getDate() + daysToAdd);\n\n// Cắt gọn định dạng ngày tháng thành chuẩn YYYY-MM-DD và lưu vào biến deadline\n$input.item.json.deadline = deadlineDate.toISOString().split('T')[0];\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -192
      ],
      "id": "cc96c113-767f-4c56-9002-b99c98ddc184",
      "name": "Calculate Deadline"
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "IF-Check Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code TaskID Automation": {
      "main": [
        [
          {
            "node": "Calculate Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Validate Email": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Check Required Fields": {
      "main": [
        [
          {
            "node": "IF-Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Code TaskID Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86908ced7abe74099e3172e110ad6bb646d8398960a8a2727cadc20e59bf7ede"
  }
}