workflow3.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        -80
      ],
      "id": "48c46698-8ef8-4ed2-a30b-5c10c7557df9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-AOSifdjrT-7vr6e1OQcIcxe-FucMAN7MRLpVIjbnSE",
          "mode": "list",
          "cachedResultName": "task automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AOSifdjrT-7vr6e1OQcIcxe-FucMAN7MRLpVIjbnSE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1925314341,
          "mode": "list",
          "cachedResultName": "Task_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AOSifdjrT-7vr6e1OQcIcxe-FucMAN7MRLpVIjbnSE/edit#gid=1925314341"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        -80
      ],
      "id": "545eee25-d05a-498d-a386-4f664be0ad60",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wtjdw3x8phVpJOcK",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst overdue = items.filter(item => {\n  const row = item.json;\n\n  if (!row.deadline) return false;\n\n  const deadline = new Date(row.deadline);\n  deadline.setHours(0, 0, 0, 0);\n\n  const status = (row.status || '').trim();\n  const escalated = (row.escalated_at || '').toString().trim();\n\n  const isActiveStatus = ['Pending', 'Doing', 'Overdue'].includes(status);\n  const isOverdue = deadline < today;\n  const notEscalated = escalated === '';\n\n  return isActiveStatus && isOverdue && notEscalated;\n});\n\nreturn overdue;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -80
      ],
      "id": "9d7086e9-dea1-49b3-81e1-7fbdc0965aea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "items.sort((a, b) => {\n  const priorityA = a.json.priority === 'High' ? 0 : 1;\n  const priorityB = b.json.priority === 'High' ? 0 : 1;\n\n  if (priorityA !== priorityB) {\n    return priorityA - priorityB;\n  }\n\n  const deadlineA = new Date(a.json.deadline);\n  const deadlineB = new Date(b.json.deadline);\n\n  return deadlineA - deadlineB;\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -80
      ],
      "id": "d01a2f53-e278-4912-85ca-d49cb626a51b",
      "name": "Sort Overdue Tasks"
    },
    {
      "parameters": {
        "jsCode": "const total = items.length;\nconst high = items.filter(item => item.json.priority === 'High').length;\nconst normal = items.filter(item => item.json.priority === 'Normal').length;\n\nconst reportDate = new Date().toISOString().split('T')[0];\n\nreturn [\n  {\n    json: {\n      total_overdue: total,\n      high_count: high,\n      normal_count: normal,\n      report_date: reportDate,\n      tasks: items.map(item => item.json),\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -80
      ],
      "id": "80546697-981b-40dc-8edc-bf44f4493f37",
      "name": "Generate Summary Metrics"
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ item đầu tiên (và duy nhất) do node Summary truyền sang\nconst data = items[0].json;\nconst tasks = data.tasks || [];\n\n// Đổi task.owner_name thành task.assignee_email cho khớp với file Sheet\nconst lines = tasks.map((task, index) => {\n  return `${index + 1}. [${task.priority}] ${task.task_name} | Assignee: ${task.assignee_email || '-'} | Deadline: ${task.deadline} | Status: ${task.status}`;\n});\n\nconst reportBody = `\nWEEKLY OVERDUE TASK REPORT\n\nReport Date: ${data.report_date}\n\nTotal overdue tasks: ${data.total_overdue}\nHigh priority tasks: ${data.high_count}\nNormal priority tasks: ${data.normal_count}\n\nTask Details:\n${lines.join('\\n')}\n`;\n\n// Trả về dữ liệu gốc cộng thêm phần report_body vừa tạo\nreturn [\n  {\n    json: {\n      ...data,\n      report_body: reportBody\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -80
      ],
      "id": "f1395425-edfa-4dd6-86bb-48c79e4c04f7",
      "name": "Build Report Body"
    },
    {
      "parameters": {
        "folderId": "=",
        "title": "=Weekly_Overdue_Report_{{$json.report_date}}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1408,
        -80
      ],
      "id": "c578319d-7045-43e8-8411-f85c73329d6f",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Jmnpo9eC6UBhJRz3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {
          "fileName": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        -80
      ],
      "id": "da4d4959-648a-4391-a1e8-b374db9e3ef4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qC3UG3qHnLYR6LVh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "zinbya22@gmail.com",
        "subject": "=[Weekly Escalation Report] {{$json.report_date}}",
        "message": "=Báo cáo task quá hạn tuần này.  Tổng số: {{$json.total_overdue}} High: {{$json.high_count}} Normal: {{$json.normal_count}}  File PDF đính kèm.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "Binary Property: data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        -80
      ],
      "id": "eb96012d-9675-4d5b-8cff-12507ed2bd8a",
      "name": "Send a message",
      "webhookId": "bea46410-c1d2-4f52-bcb2-c39bad28dc34",
      "credentials": {
        "gmailOAuth2": {
          "id": "v3WLc8FNCRIthhaA",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Sort Overdue Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Overdue Tasks": {
      "main": [
        [
          {
            "node": "Generate Summary Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary Metrics": {
      "main": [
        [
          {
            "node": "Build Report Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report Body": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7db58615eea76af926b37c9ce792f3a3b6a538b566b08c5a92cda41e96ff375c"
  }
}