workflow1.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA",
          "mode": "list",
          "cachedResultName": "TaskAutomation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1395565445,
          "mode": "list",
          "cachedResultName": "Task_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA/edit#gid=1395565445"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b0c5b1f5-7b40-44d8-87d5-0adc2533c0f0",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "AiIxxvUu35BUCc0N",
          "name": "TaskAutomation"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Chỉ tạo task_id mới nếu chưa có (tránh ghi đè task cũ)\nif (!$input.item.json.task_id || String($input.item.json.task_id).trim() === \"\") {\n  // 1. Lấy ngày tháng năm hiện tại để làm tiền tố\n  const date = new Date();\n  const yyyy = date.getFullYear();\n  const mm = String(date.getMonth() + 1).padStart(2, '0');\n  const dd = String(date.getDate()).padStart(2, '0');\n  const todayStr = `${yyyy}${mm}${dd}`;\n\n  // 2. Tạo chuỗi ngẫu nhiên 4 ký tự\n  const randomString = Math.random().toString(36).substring(2, 6).toUpperCase();\n\n  // 3. Ghép thành Task ID (VD: TASK-20260321-X7F9)\n  $input.item.json.task_id = `TASK-${todayStr}-${randomString}`;\n}\n\nreturn $input.item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -192
      ],
      "id": "d01766a1-d8cf-49cb-9a51-cbd456b5f482",
      "name": "Code TaskID Automation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a55ce29c-43f6-4c23-bc3b-7049cf65fbd2",
              "leftValue": "={{ $json.assignee_email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f572b2be-21d6-4287-bca6-c4cc2d7a3a64",
              "leftValue": "={{ $json.assignee_email }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -96
      ],
      "id": "5e8661ac-07b4-4bf1-b55c-df361cbc9c30",
      "name": "IF-Validate Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "27152f33-721b-4788-94f1-d836b3fafab4",
              "leftValue": "={{ $json.task_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "897c0c28-4a3e-499f-8373-8edb46f66664",
              "leftValue": "={{ $json.assignee_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5cfb1040-e12b-4942-b9d8-1539a96cfec3",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "73d7c346-04b1-406d-87f1-e758e4e1956b",
              "leftValue": "={{ $json.created_at }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "f9d351cc-12f2-4c0c-be0a-3b0eb654de5a",
      "name": "IF-Check Required Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29d900f8-0df8-4c23-b369-bc4b46d7e5cf",
              "name": "task_name",
              "value": "={{ String($json.task_name).trim() }}",
              "type": "string"
            },
            {
              "id": "890ee7a4-7708-44a2-bbd2-c33a2e5d610f",
              "name": "assignee_email",
              "value": "={{ String($json.assignee_email).toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "f74865b8-49e9-479d-9867-3982f8867f94",
              "name": "priority",
              "value": "={{ $json.priority.trim().charAt(0).toUpperCase() + $json.priority.trim().slice(1).toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "ef1f07e7-1ab6-4713-b6d2-313acfdf0f99",
              "name": "id",
              "value": "={{ $('Google Sheets Trigger').item.json.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -192
      ],
      "id": "426abf9c-75d9-4767-a456-3945edf11dc4",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Lấy dữ liệu hiện tại\nconst priority = $input.item.json.priority;\n// Kiểm tra xem sheet đã có ngày tạo chưa (dành cho trường hợp update task cũ)\nconst existingCreatedAt = $input.item.json.created_at; \nconst existingDeadline = $input.item.json.deadline;\n\n// Hàm hỗ trợ thêm số 0 ở trước (VD: 9 -> 09)\nconst pad = (num) => String(num).padStart(2, '0');\n\n// HÀM MỚI: Lấy thời gian hiện tại chuẩn múi giờ Việt Nam (UTC+7)\nfunction getVNDate() {\n  const vnTimeStr = new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Ho_Chi_Minh\" });\n  return new Date(vnTimeStr);\n}\n\nlet createdAtStr;\nlet deadlineStr;\n\n// 2. KIỂM TRA ĐIỀU KIỆN\nif (existingCreatedAt && String(existingCreatedAt).trim() !== \"\") {\n  // NẾU LÀ TASK CŨ ĐANG UPDATE: Giữ nguyên ngày tạo và deadline cũ, không tính lại\n  createdAtStr = existingCreatedAt;\n  \n  // Nếu đã có deadline thì giữ nguyên, chưa có thì mới tính lại từ created_at cũ\n  if (existingDeadline && String(existingDeadline).trim() !== \"\") {\n     deadlineStr = existingDeadline;\n  } else {\n     const baseDate = new Date(existingCreatedAt);\n     const deadlineDate = new Date(baseDate.getTime());\n     deadlineDate.setDate(deadlineDate.getDate() + (priority === 'High' ? 7 : 30));\n     deadlineStr = `${deadlineDate.getFullYear()}-${pad(deadlineDate.getMonth() + 1)}-${pad(deadlineDate.getDate())}`;\n  }\n\n} else {\n  // NẾU LÀ TASK MỚI TINH: Tạo mới toàn bộ ngày giờ DỰA TRÊN GIỜ VIỆT NAM\n  const baseDate = getVNDate();\n  \n  // Tạo created_at theo chuẩn yyyy-MM-dd HH:mm:ss\n  createdAtStr = `${baseDate.getFullYear()}-${pad(baseDate.getMonth() + 1)}-${pad(baseDate.getDate())} ${pad(baseDate.getHours())}:${pad(baseDate.getMinutes())}:${pad(baseDate.getSeconds())}`;\n  \n  // Tạo deadline (+7 hoặc +30 ngày từ mốc giờ VN)\n  const deadlineDate = new Date(baseDate.getTime());\n  deadlineDate.setDate(deadlineDate.getDate() + (priority === 'High' ? 7 : 30));\n  deadlineStr = `${deadlineDate.getFullYear()}-${pad(deadlineDate.getMonth() + 1)}-${pad(deadlineDate.getDate())}`;\n}\n\n// 4. Xuất dữ liệu ra\n$input.item.json.created_at = createdAtStr;\n$input.item.json.deadline = deadlineStr;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -192
      ],
      "id": "cc96c113-767f-4c56-9002-b99c98ddc184",
      "name": "Calculate Deadline"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08c46374-503f-4f47-ab4b-1fe9b55d6b0e",
              "name": "status",
              "value": "Pending",
              "type": "string"
            },
            {
              "id": "06cc8233-bd5e-449f-87d2-d0e1b11e89a3",
              "name": "reminder_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "63e02fc0-35cd-47d2-a5b4-03eb0cddccf6",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "66801606-3283-42e8-bdd5-d3b49282a940",
              "name": "last_reminded_at",
              "value": "",
              "type": "string"
            },
            {
              "id": "1cc7f03b-2d64-45d1-9b90-3ad773a25b2d",
              "name": "escalated_at",
              "value": "",
              "type": "string"
            },
            {
              "id": "4bc25aab-142e-4b07-8529-17e3d97a842e",
              "name": "completed_at",
              "value": "",
              "type": "string"
            },
            {
              "id": "139ce0e7-20b5-4609-b3c8-3deb382f38c2",
              "name": "=id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -192
      ],
      "id": "5a3747b7-4bdc-40d8-a4f3-4fa78af9d9bc",
      "name": "Set-Add Default Fields"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        -192
      ],
      "id": "87bd8868-3d91-4bb8-a7fc-97ab2723d15d",
      "name": "HTTP Request-Get Quote",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98693be8-bcdd-4c4a-9a0a-bd812d3d9353",
              "name": "quote",
              "value": "Stay focused and finish strong.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -96
      ],
      "id": "0daa2a82-79cd-435c-8da8-ffeb428a34f5",
      "name": "Set - Quote Fallback"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8954d9a1-9fc5-4ea0-9ce3-a46affc70bc3",
              "name": "quote",
              "value": "={{ $json.q }} - {{ $json.a }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -288
      ],
      "id": "509ab75e-d0f2-4148-91d5-4024ba2f48fc",
      "name": "Set - Format Quote"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA",
          "mode": "list",
          "cachedResultName": "TaskAutomation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1395565445,
          "mode": "list",
          "cachedResultName": "Task_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wMxqh4eWisso6skyP8CtQPKuKHb3QGEkzSaqk2CWPnA/edit#gid=1395565445"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Set-Add Default Fields').item.json.id + 1 }}",
            "deadline": "={{ $('Calculate Deadline').item.json.deadline }}",
            "status": "={{ $('Set-Add Default Fields').item.json.status }}",
            "task_id": "={{ $('Calculate Deadline').item.json.task_id }}",
            "created_at": "={{ $('Calculate Deadline').item.json.created_at }}",
            "reminder_count": "={{ $('Set-Add Default Fields').item.json.reminder_count }}",
            "task_name": "={{ $('Calculate Deadline').item.json.task_name }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "owner_name",
              "displayName": "owner_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignee_email",
              "displayName": "assignee_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "days_left",
              "displayName": "days_left",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_reminded_at",
              "displayName": "last_reminded_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reminder_count",
              "displayName": "reminder_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "escalated_at",
              "displayName": "escalated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_input",
              "displayName": "source_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "admin_note",
              "displayName": "admin_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        -288
      ],
      "id": "aecd2133-369f-4d23-8dca-6e1a0bf93e2c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ohxwIBB7GyiwqF6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.assignee_email }}",
        "subject": "=[Nhiệm vụ mới] {{ $('Google Sheets Trigger').item.json.task_name }} - Hạn chót: {{ $('Calculate Deadline').item.json.deadline }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">     <div style=\"background-color: #4CAF50; color: white; padding: 15px 20px; text-align: center;\">         <h2 style=\"margin: 0;\">🚀 Thông báo nhận Task mới</h2>     </div>          <div style=\"padding: 20px;\">         <p>Chào bạn,</p>         <p>Hệ thống vừa phân công cho bạn một công việc mới. Vui lòng kiểm tra thông tin chi tiết dưới đây:</p>                  <table style=\"width: 100%; border-collapse: collapse; margin-top: 15px;\">             <tr>                 <td style=\"padding: 10px; border-bottom: 1px solid #eee; width: 35%;\"><strong>Mã Task:</strong></td>                 <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.task_name }}</td>             </tr>             <tr>                 <td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Tên Task:</strong></td>                 <td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>{{ $('Google Sheets Trigger').item.json.task_name }}</strong></td>             </tr>             <tr>                 <td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Mức độ:</strong></td>                 <td style=\"padding: 10px; border-bottom: 1px solid #eee; color: #d9534f; font-weight: bold;\">{{ $('Normalize Input').item.json.priority }}</td>             </tr>             <tr>                 <td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Deadline:</strong></td>                 <td style=\"padding: 10px; border-bottom: 1px solid #eee; color: #f0ad4e; font-weight: bold;\">{{ $('Calculate Deadline').item.json.deadline }}</td>             </tr>         </table>                  <div style=\"margin-top: 25px; background-color: #f9f9f9; border-left: 4px solid #4CAF50; padding: 15px; font-style: italic; color: #555;\">             \"{{ $('HTTP Request-Get Quote').item.json.q }}\"         </div>                  <p style=\"margin-top: 25px;\">Chúc bạn hoàn thành công việc đúng hạn!</p>     </div>          <div style=\"background-color: #f1f1f1; color: #777; padding: 10px; text-align: center; font-size: 12px;\">         Đây là email tự động từ hệ thống quản lý Task. Vui lòng không trả lời email này.     </div> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2080,
        -288
      ],
      "id": "02d55eb2-5611-4ab1-8af5-6142c534b232",
      "name": "Send a message",
      "webhookId": "a5a820fd-15c4-4ec4-9fcb-1fe5864ccd96",
      "credentials": {
        "gmailOAuth2": {
          "id": "K7891QYZq0qKi7VV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7801932240",
        "text": "=✅ [HỆ THỐNG] ĐÃ PHÂN CÔNG TASK MỚI - 🆔 Mã Task:  {{ $('Calculate Deadline').item.json.task_id }}\n- 📝 Tên Task: {{ $('Code TaskID Automation').item.json.task_name }}\n - 👤 Người nhận: {{ $('Code TaskID Automation').item.json.assignee_email }}\n - ⏰ Hạn chót: {{ $('Calculate Deadline').item.json.deadline }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2288,
        -288
      ],
      "id": "2f0f99b2-35d9-4f02-97eb-3d3bd5b36ca3",
      "name": "Send a text message",
      "webhookId": "92ba87d2-8b51-445e-93ea-a36e4bba077e",
      "credentials": {
        "telegramApi": {
          "id": "SxcovgETCd4yFCuj",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "IF-Check Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code TaskID Automation": {
      "main": [
        [
          {
            "node": "Calculate Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Validate Email": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Check Required Fields": {
      "main": [
        [
          {
            "node": "IF-Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Code TaskID Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Deadline": {
      "main": [
        [
          {
            "node": "Set-Add Default Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Add Default Fields": {
      "main": [
        [
          {
            "node": "HTTP Request-Get Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-Get Quote": {
      "main": [
        [
          {
            "node": "Set - Format Quote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Quote Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Quote Fallback": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Format Quote": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86908ced7abe74099e3172e110ad6bb646d8398960a8a2727cadc20e59bf7ede"
  }
}