workflow2.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f67db607-16cd-4d68-8ee7-44b652a2e963",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12MmBXHD0YevLsUN0n-4p5PpA2iP5Kypkaj4nTUt13bU",
          "mode": "list",
          "cachedResultName": "n8n-automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12MmBXHD0YevLsUN0n-4p5PpA2iP5Kypkaj4nTUt13bU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310262284,
          "mode": "list",
          "cachedResultName": "Task_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12MmBXHD0YevLsUN0n-4p5PpA2iP5Kypkaj4nTUt13bU/edit#gid=1310262284"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "5d97510a-5631-4e23-aea5-e8d10eddf73b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ydjkGFIw6M8fEs1t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "=currentDate",
        "options": {
          "includeInputFields": true,
          "timezone": "Asia/Ho_Chi_Minh"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "cd4b24e3-f3fb-461b-b051-16193d4b1b32",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const deadlineStr = item.json.deadline; \n  \n  const todayStr = $node[\"Date & Time\"].json.currentDate; \n\n  if (deadlineStr) {\n    const deadlineDate = new Date(deadlineStr);\n    const todayDate = new Date(todayStr);\n    \n    const diffTime = deadlineDate - todayDate;\n    \n    const daysLeft = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n    \n    item.json.daysLeft = daysLeft;\n  } else {\n    item.json.daysLeft = null;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "91c7f893-6229-4685-8271-5ced6026ceaa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99513756-f9d2-42d0-8e12-0318bb9ba73c",
              "leftValue": "={{ $json.days_left }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "376bb0f0-4a81-43f9-a232-c2a483c815b4",
              "leftValue": "={{ $json.days_left }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "505e36e8-163d-4c4b-b827-db2589d649e9",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fde7f1d5-6c11-426e-809a-0f832217fdb1",
              "leftValue": "={{ $json.last_reminded_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a57b08d0-8754-42b9-98ef-807d68abd652",
              "leftValue": "={{ $json.last_reminded_at ? ( $json.last_reminded_at.includes(':') ? DateTime.fromFormat($json.last_reminded_at, 'dd/MM/yyyy HH:mm') : DateTime.fromFormat($json.last_reminded_at, 'dd/MM/yyyy') ) : '' }}",
              "rightValue": "={{ $now.minus({ hours: 23 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -96
      ],
      "id": "4261aea9-d053-4a39-baa9-f43088e33702",
      "name": "IF - Anti Spam Check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4c132fb-6bbc-458c-871e-d1323cec436f",
              "name": "days_left",
              "value": "={{ $json.days_left === 0 ? \"🔥 HÔM NAY LÀ HẠN CHÓT\" : \"⏳ Còn \" + $json.days_left + \" ngày\" }}",
              "type": "string"
            },
            {
              "id": "77da80e0-8790-4273-8015-03ab6c42a003",
              "name": "deadline_text",
              "value": "=📅 Hạn: {{ $json.deadline }}",
              "type": "string"
            },
            {
              "id": "ac56a3e3-2413-4cfe-b1d7-b9c59003b996",
              "name": "=priority_label",
              "value": "={{ $json.priority === 'High' ? \"🚨 \" + $json.priority : \"🟢 \" + $json.priority }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -192
      ],
      "id": "f057b622-fa2b-46fd-8f1b-d4935767724b",
      "name": "Set - Reminder Metadata"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "IF - Anti Spam Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Anti Spam Check": {
      "main": [
        [
          {
            "node": "Set - Reminder Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b3f7bfd0f4f3593c82cb10a5e7494425f0522a237a4190788c89a3097573ba7"
  }
}