workflow3.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "da8e8a6d-1d03-4c53-9822-c962c2329b92",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-AOSifdjrT-7vr6e1OQcIcxe-FucMAN7MRLpVIjbnSE",
          "mode": "list",
          "cachedResultName": "task automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AOSifdjrT-7vr6e1OQcIcxe-FucMAN7MRLpVIjbnSE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1925314341,
          "mode": "list",
          "cachedResultName": "Task_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AOSifdjrT-7vr6e1OQcIcxe-FucMAN7MRLpVIjbnSE/edit#gid=1925314341"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "29589ac2-203e-44d9-bd08-a184c7867cdd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfW03DHml6wUvwSL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst overdue = items.filter(item => {\n  const row = item.json;\n\n  if (!row.deadline) return false;\n\n  const deadline = new Date(row.deadline);\n  deadline.setHours(0, 0, 0, 0);\n\n  const status = (row.status || '').trim();\n  const escalated = (row.escalated_at || '').toString().trim();\n\n  const isActiveStatus = ['Pending', 'Doing', 'Overdue'].includes(status);\n  const isOverdue = deadline < today;\n  const notEscalated = escalated === '';\n\n  return isActiveStatus && isOverdue && notEscalated;\n});\n\nreturn overdue;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1b815a5e-2386-490e-92ff-5d6d919a513c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "items.sort((a, b) => {\n  const priorityA = a.json.priority === 'High' ? 0 : 1;\n  const priorityB = b.json.priority === 'High' ? 0 : 1;\n\n  if (priorityA !== priorityB) {\n    return priorityA - priorityB;\n  }\n\n  const deadlineA = new Date(a.json.deadline);\n  const deadlineB = new Date(b.json.deadline);\n\n  return deadlineA - deadlineB;\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "defa41c4-0349-48d8-a1b5-7431858db0cb",
      "name": "Sort Overdue Tasks"
    },
    {
      "parameters": {
        "jsCode": "const total = items.length;\nconst high = items.filter(item => item.json.priority === 'High').length;\nconst normal = items.filter(item => item.json.priority === 'Normal').length;\n\nconst reportDate = new Date().toISOString().split('T')[0];\n\nreturn [\n  {\n    json: {\n      total_overdue: total,\n      high_count: high,\n      normal_count: normal,\n      report_date: reportDate,\n      tasks: items.map(item => item.json),\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "2ee5f5e5-3707-4bf2-8b38-25fbc914ec67",
      "name": "Generate Summary Metrics"
    },
    {
      "parameters": {
        "jsCode": "const tasks = $json.tasks || [];\n\nconst lines = tasks.map((task, index) => {\n  return `${index + 1}. [${task.priority}] ${task.task_name} | Owner: ${task.owner_name || '-'} | Deadline: ${task.deadline} | Status: ${task.status}`;\n});\n\nconst reportBody = `\nWEEKLY OVERDUE TASK REPORT\n\nReport Date: ${$json.report_date}\n\nTotal overdue tasks: ${$json.total_overdue}\nHigh priority tasks: ${$json.high_count}\nNormal priority tasks: ${$json.normal_count}\n\nTask Details:\n${lines.join('\\n')}\n`;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      report_body: reportBody\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "8b5127ea-82a7-4de7-bf4e-4ebe6d755baa",
      "name": "Build Report Body"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Sort Overdue Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Overdue Tasks": {
      "main": [
        [
          {
            "node": "Generate Summary Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary Metrics": {
      "main": [
        [
          {
            "node": "Build Report Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4121df01053c0f8a341fa2addde26ee46d9fdc6ece34de4881ad07a95f15d3e7"
  }
}